.mainPart {
  background-color: aqua;
  background-size: cover;
  height: 93vh;
}
.loginclass {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rebeccapurple;
  width: 60vh;
  height: 60vh;
  /* background-color: red; */
  margin-left: 35vw;
}
.form1 {
  margin-left: 30px;
}
.loginbtn {
  margin-top: 3vh;
  width: 15vh;
  border: none;
  background-color: rgb(12, 29, 185);
  color: rgb(222, 9, 9);
}

.input1 input {
  margin-top: 5vh;
}
.loginreg {
  margin-top: 300px;
}
.reglink {
  color: black;
  text-decoration: none;
  background-color: rgb(189, 23, 218);
}
@media (max-width: 610px) {
  .mainPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -150px;
    width: 800px;
  }
  .loginclass {
  }
}
